# Teaching Time Series

### **Introduction**

We will be looking at how to teach Time Series Analysis to students in Data 8 level or who have just taken Data 8. While there are many methods to appraoch Time Series Analysis (visualization methods and aggregation method in particular), we will focus on visualizing time series using `matplotlib` from Python and `pandas`, looking at aggregation method of `groupby`, `resample('datetime object')`, and `rolling`.

1. Using `matplotlib`
    - `groupby` method 
    - `resample('datetime object')` method
    - `rolling` method
2. Using `pandas`
    - `groupby` method 
    - `resample('datetime object')` method
    - `rolling` method

In [2]:
from datascience import *
from collections import Counter
import numpy as np
import pandas as pd
from scipy import stats
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/scipy/__init__.py:132: UserWarning: A NumPy version >=1.21.6 and <1.28.0 is required for this version of SciPy (detected version 1.21.2)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

<br/>

<hr style="border: 1px solid #fdb515;" />

## Times Series 
Time Series Analysis is a method used to examine data points collected sequentially over time. These data points, plotted on a graph with time on the horizontal (x-axis) and the variable of interest on the vertical (y-axis), show how a particular variable evolves over time. By studying past patterns in this sequence, time series analysis can help predict future values. It's especially useful for understanding trends, cycles, or any recurring patterns in data over a time period.

## Loading the dataset.

We will be looking at the Nashville police stops dataset.

In [7]:
user = "suminpark" #insert your user name
path = "/Users/" + user +  "/Documents/GitHub/Teaching-Material/data" #edit this later for the actual lab. 
stops = pd.read_csv(path + "/stops_sample.csv", index_col = 0)
stops.head()

,index,raw_row_number,date,time,location,lat,lng,precinct,reporting_area,zone,...,raw_traffic_citation_issued,raw_misd_state_citation_issued,raw_suspect_ethnicity,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view
0,1840907,93347,2010-04-18,13140.0,"BURGESS AVE & WHITE BRIDGE PIKE, NASHVILLE, TN...",36.145004,-86.857970,1.0,5103.0,113.0,...,False,NaN,N,False,False,False,False,False,False,False
1,492044,2001428,2015-01-19,19920.0,"DUE WEST AVE W & S GRAYCROFT AVE, MADISON, TN,...",36.249187,-86.734459,7.0,1797.0,723.0,...,False,False,N,False,False,False,False,False,False,False
2,431170,1996331,2015-01-15,1020.0,"S GALLATIN PIKE & MADISON BLVD, MADISON, TN, 3...",36.254979,-86.715246,7.0,1623.0,711.0,...,False,False,N,False,False,False,False,False,False,False
3,2066423,1319451,2013-05-17,62760.0,"CHARLOTTE PIKE & W HILLWOOD DR, NASHVILLE, TN,...",36.139093,-86.880533,1.0,5009.0,123.0,...,False,False,N,False,False,False,False,False,False,False
4,2899480,201349,2010-09-01,28140.0,"BELL RD & DODSON CHAPEL RD, HERMITAGE, TN, 37076",36.163310,-86.613147,5.0,9501.0,521.0,...,False,NaN,N,False,False,False,False,False,False,False

## Using MatPlotLib

## Using Pandas

#### just a sec, working on time series to check something.
time_series_df = stops.copy()
time_series_df['datetime'] = pd.to_datetime(time_series_df['date'], format='%Y-%m-%d')
time_series_df['datetime'][0] #taking the first itme out from the "date" Series, the object should be a timestamp.

In [ ]:
time_series_df['datetime'][0].strftime('%b %Y')
time_series_df['adjusted_datetime'] = [time_series_df['datetime'][index].strftime('%b %Y') for index in np.arange(time_series_df.shape[0])]
time_series_df['adjusted_datetime']

In [ ]:
time_series_df.index = time_series_df['datetime']
groupedby_count = time_series_df.groupby('adjusted_datetime').count()

groupedby_count

In [ ]:
sub_plot = groupedby_count.plot(y='raw_row_number', use_index=True,figsize = (25, 8))
# Adds a x-axis label
sub_plot.set_xlabel("Time")

# Adds a y-axis label
sub_plot.set_ylabel("count")

# Adds a title to our line plot
sub_plot.set_title("time analysis on police count")


# Adds the time on the x-axis
sub_plot.set_xticks(groupedby_count.index)


# Sets the size of the x-axis
sub_plot.tick_params(axis='x', labelsize=13)